#wpadminbar #wp-admin-bar-shopeo_bar .ab-icon:before {
	content: '';
	display: inline-block;
	background: url("../images/icon_white.svg") top center no-repeat;
	background-size: contain;
	width: 22px;
	height: 22px;
	margin-top: 2px;
}

.components-site-card:before {
	width: 36px;
	height: 36px;
}
